---
layout: page
---

<div class="flex flex-col items-center justify-center prose xl:prose-lg mx-auto">
  <h3>Currently Under Construction</h3>

  <p class="px-4">
    This page is currently under construction. Please check back later to see some cool stuff.

    <br>
    <br>

    Check my socials for more info!
  </p>

  <div data-controller="lottie" data-turbo-permanent></div>
</div>
