---
layout: default
---

<div class="flex flex-col xl:flex-row lg:gap-24 flex-1 items-center justify-center mx-4">
  <%= render Header.new(metadata: site.metadata, resource:) %>
  <main data-view-more-target="more"
        class="lg:@container w-fit relative min-h-svh lg:aspect-square lg:w-[50vh] xl:min-h-[50%] xl:w-1/2 2xl:w-5/12 mx-auto lg:m-0 lg:ring-1 lg:ring-neutral lg:rounded-3xl ">
    <%= render Nav.new(page:) %>

    <div class="@lg:p-12 h-full view-transition-content">
      <div class="h-full lg:overflow-y-scroll">
        <%= yield %>
      </div >
    </div>
  </main>
</div>

<%= render "footer", metadata: site.metadata %>
