<div class="h-[3em] aspect-square flex gap-4 items-center" data-controller="svg-morph">
  <button class="btn btn-primary text-neutral" data-action="svg-morph#toggle">
    Morph
  </button>

  <svg class="h-[3em] aspect-square" role="img" viewBox="0 0 496 512" fill="none" xmlns="http://www.w3.org/2000/svg" data-svg-morph-target="output">
    <path d="M244.8 8C106.1 8 0 113.3 0 252C0 362.9 69.8 457.8 169.5 491.2C182.3 493.5 186.8 485.6 186.8 479.1C186.8 472.9 186.5 438.7 186.5 417.7C186.5 417.7 116.5 432.7 101.8 387.9C101.8 387.9 90.4 358.8 74 351.3C74 351.3 51.1 335.6 75.6 335.9C75.6 335.9 100.5 337.9 114.2 361.7C136.1 400.3 172.8 389.2 187.1 382.6C189.4 366.6 195.9 355.5 203.1 348.9C147.2 342.7 90.8 334.6 90.8 238.4C90.8 210.9 98.4 197.1 114.4 179.5C111.8 173 103.3 146.2 117 111.6C137.9 105.1 186 138.6 186 138.6C206 133 227.5 130.1 248.8 130.1C270.1 130.1 291.6 133 311.6 138.6C311.6 138.6 359.7 105 380.6 111.6C394.3 146.3 385.8 173 383.2 179.5C399.2 197.2 409 211 409 238.4C409 334.9 350.1 342.6 294.2 348.9C303.4 356.8 311.2 371.8 311.2 395.3C311.2 429 310.9 470.7 310.9 478.9C310.9 485.4 315.5 493.3 328.2 491C428.2 457.8 496 362.9 496 252C496 113.3 383.5 8 244.8 8Z" fill="black"/>
  </svg>
  <svg class="h-[3em] aspect-square" role="img" viewBox="0 0 496 512" fill="none" xmlns="http://www.w3.org/2000/svg" data-svg-morph-target="original" hidden>
    <path d="M244.8 8C106.1 8 0 113.3 0 252C0 362.9 69.8 457.8 169.5 491.2C182.3 493.5 186.8 485.6 186.8 479.1C186.8 472.9 186.5 438.7 186.5 417.7C186.5 417.7 116.5 432.7 101.8 387.9C101.8 387.9 90.4 358.8 74 351.3C74 351.3 51.1 335.6 75.6 335.9C75.6 335.9 100.5 337.9 114.2 361.7C136.1 400.3 172.8 389.2 187.1 382.6C189.4 366.6 195.9 355.5 203.1 348.9C147.2 342.7 90.8 334.6 90.8 238.4C90.8 210.9 98.4 197.1 114.4 179.5C111.8 173 103.3 146.2 117 111.6C137.9 105.1 186 138.6 186 138.6C206 133 227.5 130.1 248.8 130.1C270.1 130.1 291.6 133 311.6 138.6C311.6 138.6 359.7 105 380.6 111.6C394.3 146.3 385.8 173 383.2 179.5C399.2 197.2 409 211 409 238.4C409 334.9 350.1 342.6 294.2 348.9C303.4 356.8 311.2 371.8 311.2 395.3C311.2 429 310.9 470.7 310.9 478.9C310.9 485.4 315.5 493.3 328.2 491C428.2 457.8 496 362.9 496 252C496 113.3 383.5 8 244.8 8Z" fill="black"/>
  </svg>
  <svg class="h-[3em] aspect-square" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-svg-morph-target="morph" hidden>
    <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
    <path fill="#F1502F" d="M439.6 236.1L244 40.5a28.9 28.9 0 0 0 -40.8 0l-40.7 40.6 51.5 51.5c27.1-9.1 52.7 16.8 43.4 43.7l49.7 49.7c34.2-11.8 61.2 31 35.5 56.7-26.5 26.5-70.2-2.9-56-37.3L240.2 199v121.9c25.3 12.5 22.3 41.9 9.1 55a34.3 34.3 0 0 1 -48.6 0c-17.6-17.6-11.1-46.9 11.3-56v-123c-20.8-8.5-24.6-30.7-18.6-45L142.6 101 8.5 235.1a28.9 28.9 0 0 0 0 40.8l195.6 195.6a28.9 28.9 0 0 0 40.8 0l194.7-194.7a28.9 28.9 0 0 0 0-40.8z"/>
  </svg>
</div>
