/* If you need to add @import statements, do so up here */

@import "jit-refresh.css"; /* triggers frontend rebuilds */

/* Set up Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Comic Code Ligatures";
  src: local('')
       url("/ComicCodeLigatures-Regular.woff") format("woff")
}

html, body {
  @apply font-comic-code;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

[data-localize] {
  opacity: 0;
}

[data-localize="done"] {
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
/* If you need to add custom styles, do so down here */
