/* If you need to add @import statements, do so up here */

@import "jit-refresh.css"; /* triggers frontend rebuilds */

/* Set up Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Comic Code Ligatures";
  src: local('')
       url("/ComicCodeLigatures-Regular.woff") format("woff")
}

html, body {
  @apply font-comic-code;
}


[data-localize] {
  opacity: 0;
}

[data-localize="done"] {
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}

.view-transition-content {
  view-transition-name: content;
}

@keyframes fade-in {
  from { opacity: 0; }
}

@keyframes fade-out {
  to { opacity: 0; }
}

@keyframes slide-from-right {
  from { transform: translateX(30px); }
}

@keyframes slide-to-left {
  to { transform: translateX(-30px); }
}

::view-transition-old(content) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(content) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

@keyframes translate {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translateZ(0);
  }
}

header {
  view-transition-name: header;
}

main {
  view-transition-name: main;
}

::view-transition-old(header)
::view-transition-new(header),
::view-transition-old(main),
::view-transition-new(main) {
  animation: none;
  display: block;
  mix-blend-mode: normal;
}

/* If you need to add custom styles, do so down here */
