<div class="flex flex-col text-center text-xs text-neutral/75 pt-4 lg:pt-0">
  <div>
    © <%= Time.now.year %> <%= site.metadata.me %>
  </div>
  <div>
    pfp by <a class="link" href="https://twitter.com/frannyanart" target="_blank">@frannyanart</a>
  </div>
  <div>
    design by <a class="link" href="https://github.com/dylhack" target="_blank">@dylhack</a>
  </div>
</div>
