<%= render Link.new(href: @href,
                    class: "text-lg leading-[unset] ring-1 ring-neutral border-0 rounded-xl "\
                           "uppercase flex items-center btn btn-sm no-animation hover:bg-accent/90 font-normal h-10 #{@bg_class}") do %>
  <span class="mt-0.5 h-6">
    <%= @text %>
  </span>
<% end %>
