<a href="<%= relative_url @href %>"
   class="text-lg leading-[unset] ring-1 ring-neutral border-0 rounded-xl
          uppercase flex items-center btn btn-sm no-animation bg-base-100
          hover:bg-accent font-normal h-10"
   <%= mapped_props %>>
  <span class="mt-0.5 h-6">
    <%= @text %>
  </span>
</a>
